.b-btn{
    padding: 16px;
    font-family: var(--font-family-primary);
    text-transform: uppercase;
    border-radius: 4px;
    border: 0;
    background-color: #FFF;
    color: var(--color-primary);
    &--sec{
        background-color: #333;
    }
}