.g-primereact-dropdown {
  padding: 14px;
  background: #FFFFFF;
  border-radius: 4px;
  font-size: 16px;
  color: aquamarine;
  .p-dropdown-trigger-icon{
    margin-left: 10px;
  }
}

.p-dropdown-items-wrapper{
  max-height: 200px;
  padding: 14px;
  background-color: #FFFFFF;
  color: aquamarine;
  border-radius: 4px;
}
