.c-header{
    background-color: var(--color-primary);

    &__link{
        padding: 24px;
        // background-color: rgb(61, 202, 155);
        color: #333333;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        border-bottom: 4px solid transparent;
        &.active{
            border-bottom: 4px solid #333333;
        }
    }
}