body[theme='human']{
    --color-primary: aquamarine;
    --font-family-primary: Arial;
    --font-size: 16px
    
}
  
body[theme='alien']{
    --color-primary: rgb(255, 0, 255);
    --font-family-primary: Verdana;
    --font-size: 48px
}